## Index Alignment

In [4]:
import pandas as pd
import numpy as np

In [9]:
A = pd.DataFrame(np.random.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A

   A  B
0  0  8
1  6  8

In [10]:
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B

   B  A  C
0  3  6  3
1  6  3  8
2  6  5  9

In [11]:
A + B

     A     B   C
0  6.0  11.0 NaN
1  9.0  14.0 NaN
2  NaN   NaN NaN

## Operations Between DataFrame and Series

In [12]:
rng = np.random

In [13]:
A = rng.randint(10, size=(3, 4))
A

array([[9, 9, 6, 8],
       [2, 5, 0, 4],
       [3, 7, 9, 5]])

In [14]:
A - A[0]

array([[ 0,  0,  0,  0],
       [-7, -4, -6, -4],
       [-6, -2,  3, -3]])

In [15]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1 -7 -4 -6 -4
2 -6 -2  3 -3

In [16]:
df.subtract(df['R'], axis=0)

   Q  R  S  T
0  0  0 -3 -1
1 -3  0 -5 -1
2 -4  0  2 -2

In [20]:
df

   Q  R  S  T
0  9  9  6  8
1  2  5  0  4
2  3  7  9  5

In [17]:
halfrow = df.iloc[0, ::2]
halfrow

Q    9
S    6
Name: 0, dtype: int32

In [18]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -7.0 NaN -6.0 NaN
2 -6.0 NaN  3.0 NaN

## DF Ufuncs (Universal functions)

DataFrame.add 
- *Add DataFrames.*

DataFrame.sub
- *Subtract DataFrames.*

DataFrame.mul
- *Multiply DataFrames.*

*DataFrame.div*
- Divide DataFrames (float division).

*DataFrame.truediv*
- Divide DataFrames (float division).

*DataFrame.floordiv*
- Divide DataFrames (integer division).

*DataFrame.mod*
- Calculate modulo (remainder after division).

*DataFrame.pow*
- Calculate exponential power.

## Pandas aggregating functions

DataFrame.sum
- *Return the sum over the requested axis.*

DataFrame.min
- *Return the minimum over the requested axis.*

DataFrame.max
- *Return the maximum over the requested axis.*

DataFrame.idxmin
- *Return the index of the minimum over the requested axis.*

DataFrame.idxmax
- *Return the index of the maximum over the requested axis.*

### Exercícios

1. Escreva uma função para normalizar um DataFrame do pandas df subtraindo os valores da primeira linha de todas as outras linhas.

In [3]:
def normalize_df(df):
    return df.subtract(df.iloc[0])

2. Escreva uma função para normalizar um DataFrame do pandas df subtraindo os valores da primeira linha de todas as outras linhas e dividindo todos os valores pelo maior elemento do dataframe.

In [2]:
def normalize_df(df):
    first_row = df.iloc[0] # Seleciona a primeira linha do DataFrame
    df = df.subtract(first_row, axis=1) # Subtrai a primeira linha do DataFrame de todas as outras linhas
    max_val = df.max().max() # Calcula o maior elemento do DataFrame
    return df.divide(max_val) # Divide todos os elementos do DataFrame pelo maior elemento

# Exemplo de uso
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# Normalizando o DataFrame
df_normalized = normalize_df(df)

# Exibindo o DataFrame normalizado
print(df_normalized)

     A    B    C
0  0.0  0.0  0.0
1  0.5  0.5  0.5
2  1.0  1.0  1.0

## Missing data

## Hierarchical indexing